#gallery {
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 1rem;
    grid-auto-flow: dense;
}