@font-face {
  font-family: Nasa;
  src: url("../resources/nasalization-rg.otf");
}

body {
  margin: 0;
  font-family: Nasa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root,
:root,
body {
  height: 100%;
  margin: auto;
}

#root {
  background-color: black;
  background-image: url("../photos/stars.png");
  background-repeat: repeat-y;
  background-size: cover;
  padding: 0 5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
